:root{
    --cor0:#2929CC;
    --cor1:#3D3D99;
    --cor2:#0000FF;
    --cor3:#3D3D66;
    --cor4:#292933;
}
*{
    margin: 0px;
    padding: 0px;
}


body{
    text-align: center;
    color: black;
}
header{
    height: 250px;
    background-color: white;
  
}
header > h1{
    font-size: 4em;
    padding-top: 20px;
    color: black;
    
}
header > img{
    
    width: 150px;
    height: 150px;
    margin: auto;
}
main{
    border: 1px solid black;
}
div{
        
    background-color: #292933;
    position: relative;
    padding-bottom: 56.25%; 
    
    /*
    16:9 (wide-screen):
    padding-bottom: 56.25%;
    4:3 (padrão mais antigo):
    padding-bottom: 75%;
    1:1 (quadrado):
    padding-bottom: 100%;
    21:9 (cinemascope):
    padding-bottom: 42.86%;
    3:2:
    padding-bottom: 66.66%;
    */
    
    height: 0px;
    overflow: hidden;
    
}
iframe{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

 
main > h2{
    text-align: left;
    padding: 10px;
}